{extend name="common/base" /}

{block name="title"}新增支付通道{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('proxy/addProxy')}" method="post" id="addProxy" >

    <div class="layui-form-item">
        <label class="layui-form-label">通道名称：</label>
        <div class="layui-input-block">
            <input type="password" id="passwordForReg" name='passwordForReg' lay-verify="required" placeholder="请输入通道名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">类型：</label>
        <div class="layui-input-block">
            <select name="condition" id="condition">
                <option value="1">支付宝</option>
                <option value="2">微信</option>
                <option value="3">银联</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商户号：</label>
        <div class="layui-input-block">
            <input type="text" id="nickNameForReg" name="nickNameForReg" lay-verify="required" placeholder="请输入商户号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">应用ID：</label>
        <div class="layui-input-block">
            <input type="text" id="nickNameForReg" name="nickNameForReg" placeholder="请输入应用ID" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">网关地址：</label>
        <div class="layui-input-block">
            <input type="text" id="nickNameForReg" name="nickNameForReg" lay-verify="required" placeholder="请输入网关地址" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注：</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" id="remark" name="remark"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <a style="margin-left: 20%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >新增</a>
            <a type="reset" class="layui-btn layui-btn-primary layui-btn-radius">重置</a>
        </div>
    </div>
</form>

{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,$ = layui.$
            ,form = layui.form;
    });
</script>
{/block}