{extend name="common/base" /}

{block name="title"}线下转账{/block}
{block name="css"}{/block}
{block name="content"}


<div class="layui-card">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <h3>线下转账</h3>
    </div>
    <div class="layui-card-body">
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
</div>


{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,$ = layui.$
            ,form = layui.form;

        var init = function() {
            form.render(null, 'component-form-group');
            laydate.render({
                elem: '#LAY-component-form-group-date'
                ,format:'yyyy-MM-dd'
                ,max:-1
                ,btns: ['clear', 'confirm']
            });
            renderData();
            $('#search').on('click', function(e) {
                e.preventDefault();
                search();
            });
        };


        var renderData = function() {
            var cols = [ //表头

                {field: 'userid', title: 'ID', width:150}
                ,{field: 'userid', title: '支付名称', width:150}
                ,{field: 'nickname', title: '银行卡', width:120}
                , {field: 'percent', title: '账号', width:120}
                , {field: 'num', title: '收款人姓名', width:120}
                , {field: 'totaltax', title: '备注', width:150}
            ];

            table.render({
                elem: '#proxylist'
                , url: "{:url('player/index')}" //数据接口
                , page: true //开启分页
                , cols: [cols]
            });
        };

        //搜索
        var search = function() {
            var userid = $.trim($('#userid').val());

            //执行重载
            table.reload('proxylist', {
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: {
                    'userid':userid
                }
            });
        };
        init();
    });
</script>
{/block}