<div class ="layui-row layui-col-space20">
    <!--汇总-->
    <div class="layui-col-md4">
        <div class="layui-card">
            <div class="layui-card-header">数据汇总</div>
            <div class="layui-card-body">
                <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 230px;">
                    <div carousel-item="">
                        <ul class="layui-row layui-col-space10 layui-this">
                            <li class="layui-col-xs6">
                                <a href="javascript:;" class="x-admin-backlog-body">
                                    <h3>历史总战绩</h3>
                                    <p>
                                        <cite>100000.77</cite></p>
                                </a>
                            </li>
                            <li class="layui-col-xs6">
                                <a href="javascript:;" class="x-admin-backlog-body">
                                    <h3>当前战绩</h3>
                                    <p>
                                        <cite>1200.55</cite></p>
                                </a>
                            </li>
                            <li class="layui-col-xs6">
                                <a href="javascript:;" class="x-admin-backlog-body">
                                    <h3>在线人数</h3>
                                    <p>
                                        <cite id="onlinenum2">999</cite></p>
                                </a>
                            </li>
                            <li class="layui-col-xs6">
                                <a href="javascript:;" class="x-admin-backlog-body">
                                    <h3>当前房间胜率</h3>
                                    <p>
                                        <cite>99%</cite></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--库存设置-->
    <div class="layui-col-md8">
        <div class="layui-card">
            <div class="layui-card-header">
                库存设置
            </div>
            <div class="layui-card-body">
                <form class="layui-form" lay-filter="component-form-group">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">初始库存</label>
                            <div class="layui-input-inline">
                                <input type="text" id="kc" name="kc" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">当前库存</label>
                            <div class="layui-input-inline" >
                                <input type="text" name="start"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <a class="layui-btn" id="save" data-type="reload">保存</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--库存阶段控制方案-->
    <div class="layui-col-md8">
        <div class="layui-card">
            <div class="layui-card-header">
                库存阶段控制 <span style="float: right"><button class="layui-btn layui-btn-sm">设置库存阶段方案</button></span>
            </div>
            <div class="layui-card-body">
                <table class="layui-table">
                    <tr>
                        <td>胜率</td>
                        <td>180</td>
                        <td>175</td>
                        <td>170</td>
                        <td>165</td>
                        <td>160</td>
                        <td>155</td>
                        <td>150</td>
                        <td>145</td>
                        <td>140</td>
                    </tr>
                    <tr>
                        <td>库存</td>
                        <td><-5000</td>
                        <td>-5000~-3500</td>
                        <td>-3500~-1500</td>
                        <td>-1500~-500</td>
                        <td>-500~0</td>
                        <td>0~500</td>
                        <td>500~1500</td>
                        <td>1500~3000</td>
                        <td>3000~5000</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">
                房间在线明细
            </div>
            <div class="layui-card-body">
                <form class="layui-form" lay-filter="component-form-group">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">玩家ID</label>
                            <div class="layui-input-inline">
                                <input type="text" id="userid" name="userid" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <a class="layui-btn" id="search" data-type="reload">搜索</a>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <a class="layui-btn" id="search" onclick="x_admin_show('设置玩家胜率', '{:url(\'player/setPlayerRate\')}')">设置玩家胜率(测试)</a>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="alllist">
                    <table id="proxylist" lay-filter="proxylist"></table>
                </div>
            </div>
        </div>
    </div>
</div>